<html ng-app="nameApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>program1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body bgcolor="black"text="white">
   <div ng-controller="nameCtrl">
    <center>
        <div>
            <h1>First Name</h1>
            <input type="text" ng-model="firstName" placeholder="Enter your first name">
        </div>
        <div>
            <h1>Last Name</h1>
            <input type="text" ng-model="lastName" placeholder="Enter your last name">
        </div>
        <br>
        <button ng-click="displayFullName()">Display Full Name</button>
        <h1>Full Name is: {{fullName}}</h1>
    </center>
   </div>
   <script>
            angular.module('nameApp', []).controller('nameCtrl', function($scope) {
                $scope.firstName = 'Rama';
                $scope.lastName = 'satish';
                $scope.displayFullName = function() {
                    $scope.fullName = $scope.firstName + ' ' + $scope.lastName;
                };
            });
    </script>   
</body>
</html> 
